@model User
@{ 
    ViewBag.Title = Model.UserName;
}

@section Navigator {
    <div class="columns">
        <div class="location-path">
            / <a href="/">JoyOI</a> /
        </div>
        <h1 class="location-current" data-emoji-enabled="">用户资料</h1>
    </div>
}

<div class="container">
    <div class="cont-wrap">
        <div class="grid_9">
            <div class="profile-content">
                <div class="section visible">
                    <div class="profile-header" style="background: url(/images/@(ViewBag.ImageId).jpg)">
                        <div class="profile-avatar-outer">
                            <img src="@Model.AvatarUrl" width="120" height="120" class="profile-avatar">
                        </div>
                        <div class="profile-body">
                            <h1>@Model.UserName <small>(@ViewBag.Role)</small></h1>
                            <p>
                                注册于 <span class="time relative" datetime="@Model.RegisteryTime.ToTimeStamp()">@Model.RegisteryTime</span>,
                                最后登录于 <span class="time relative" datetime="@Model.LastLoginTime.ToTimeStamp()">@Model.LastLoginTime</span>,
                                最后活动于 <span class="time relative" datetime="@Model.ActiveTime.ToTimeStamp()">@Model.ActiveTime</span>.
                            </p>
                            <p>解决了 12 道题目，RP: 182.13 (No. 7378)</p>
                        </div>
                    </div>
                    <div class="profile-tabs-outer">
                        <div class="profile-tabs">
                            <ul class="profile-tabs-ul">
                                <li class="profile-tabs-item" onclick="openTab('#tab-threads', '@Model.Id', 'UserThread')">主题 (@ViewBag.TotalThreads)</li>
                                <li class="profile-tabs-item" onclick="openTab('#tab-posts', '@Model.Id', 'UserPost')">回复 (@ViewBag.TotalPosts)</li>
                                <li class="profile-tabs-item">修改密码</li>
                            </ul>

                            <div class="profile-tabs-section" id="tab-threads">

                            </div>

                            <div class="profile-tabs-section" id="tab-posts">

                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>

        <div class="grid_3">
            <div class="profile-sidebar">
                <div class="profile-statistics">
                    <div class="profile-statistics-number-outer">
                        <div class="profile-statistics-number">
                            <div class="profile-statistics-number-count">@ViewBag.TotalThreads</div>
                            <div class="profile-statistics-number-text">主题</div>
                        </div>
                    </div>
                    <div class="profile-statistics-number-outer">
                        <div class="profile-statistics-number">
                            <div class="profile-statistics-number-count">@ViewBag.TotalPosts</div>
                            <div class="profile-statistics-number-text">回复</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-section">
                <div class="sidebar-section-header">
                    <h1>联系</h1>
                </div>
                <div class="sidebar-section-body">
                    <dl>
                        <dt>电子邮件</dt>
                        <dd>@Model.Email.Replace("@", "[at]")</dd>
                    </dl>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>